*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: bisque;
    height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
}

.container {
    background: gray;
    padding: 50px;
    border-radius: 10px;
}
input{
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    outline: none;
}

button{
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(17, 122, 148);
    color: white;
}

.todoBtn{
    padding: 10px 10px;
        border: none;
        border-radius: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(148, 17, 17);
        color: white;

}

.todo{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5f9eb;
    padding: 7px 20px;
    margin: 10px;
    font-family: sans-serif;
    font-weight: bold;

}


.inpBtn{
    margin-left: 5px;
}