*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #606c38;
}

.items-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
   
}

.card{
    background-color: #fefae0;
    font-size: 12px;
    color: rgb(68,68,68);
    margin: 10px;
    padding: 30px;
    transition: 1s ease;
    cursor: pointer;
    border-radius: 10px;
}

.card:hover{
    transform: scale(1.1);
}

.content{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    margin-top: 20px;
}

p {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

img {
    border-radius: 5px;
    height: 200px;
    width: 300px;
}