body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
}
.container{
    width: 300px;
    height: 50px;
    background-color: #2c2c2c;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.search{
    color: white;
    font-size: 20px;
    transition: transform 0.2s ease , color 0.2s ease;
}
.search:hover {
  transform: scale(1.1);
  color: #00ffd5;
}


.inp {
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 0 15px;
  font-size: 14px;
  background-color: #1b1b1b;
  color: white;
}


.inp::placeholder {
  color: #aaa;
}
.search:hover {
    transform: scale(1.1);
    color: #00ffd5;
}


.inp {
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 0 15px;
    font-size: 14px;
    background-color: #1b1b1b;
    color: white;
}


.inp::placeholder {
    color: #aaa;
}